.container {
  display: flex;
  justify-content: center;
  background-color: lightcyan;
}

button {
  background-color: red;
  color: #fff;
  padding: 15px;
  border: none;
  text-transform: uppercase;
  margin-top: 15px;
}

